section {
    padding: 20px 0;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 20px;
    margin: 0 20px;
}

.menu-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background: #f9f9f9;
}

.menu-item img {
    max-width: 100%;
    border-radius: 5px;
}

.price {
    font-weight: bold;
    color: #ff6600;
}
