.hero
{
    background: url("./cafe.jpg");
    height: 60hv;
    display: flex;
    align-items: center;
    color: #7069ca;
    text-align: center;
    }

.hero-content h2{
    font-size: 2.5rem;
}

.hero-content p{
    font-size: 2.5rem;
    padding:20px 0 40px 0;

}

.btn{
    background-color: #ff6600;
    color: #ddd;
    padding: 10px 20px;
    text-decoration: none;
    border: radius 5px;
}