.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar-nav a{
    color: #0f0d0d;
    text-decoration: none;
    font-size:1rem;
    transition: color 0,3 ease;
}

.navbar-nav a:hover {
    color:#8b4513;
}